<section id="info">
    <div class="row">
        <div class="col-twelve tabs-wrap">
            <ul class="tabs">
                <li class="active" data-id="tab-about">
                    <i class="icon-user"></i>
                    <span>About</span>
                </li>
                <li data-id="tab-contact">
                    <i class="icon-mail"></i>
                    <span>Contact</span>
                </li>
            </ul>

            <div class="tab-container">
                <div id="tab-about" class="tab-content">

                    <div class="tab-entry">

                        <div class="row tab-entry-intro">
                            <div class="col-twelve with-bottom-line">

                                <p>i'm a photographer living in the midwest. i call west michigan "home", but will travel wherever to take photos. i don't like to talk about myself, so i'll keep it short. i'm a laid-back kinda guy that loves to take photos.</p>

                                <p>i believe that photos should enthrall us; captivate and move us. i love the thrill of creating meaningful images.</p>

                                <p>i want to capture the true version of who you are. i don't want you to hold back; whether you are feeling moody or happy, be that. be vulnerable, it's beautiful.</p>

                                <p>i focus on capturing what moment feels like. i don't care much for "perfect" poses; i want to capture real emotions and genuine interactions.</p>

                                <p>let's create something true, something real.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-contact" class="tab-content">
                    <div class="tab-entry">
                        <div class="row tab-entry-intro">
                            <div class="col-twelve">
                                <p>i'd love to meet you. let's talk.</p>
                            </div>
                        </div>

                        <div class="row form-wrap tab-entry-content">
                            <div class="col-twelve">
                                <form name="contactForm" id="contactForm" method="post" action="">
                                    <fieldset>

                                        <div class="form-field">
                                            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                                        </div>
                                        <div class="form-field">
                                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                                        </div>
                                        <div class="form-field">
                                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                                        </div>
                                        <div class="form-field">
                                            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
                                        </div>
                                        <div class="form-field">
                                            <button class="submitForm button button-primary large">Submit</button>

                                            <div id="submit-loader">
                                                <div class="text-loader">Sending...</div>
                                                <div class="s-loader">
                                                    <div class="bounce1"></div>
                                                    <div class="bounce2"></div>
                                                    <div class="bounce3"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>

                                <div id="message-warning"></div>

                                <div id="message-success">
                                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="infoFooter" class="row">
        <%= partial "sociallinks" %>

        <div id="backtotop">
            <a href="#top" class="smoothscroll">
                <span>Back to Top</span>
            </a>
        </div>
    </div>
</section>