<section id="info">
    <div class="row">
        <div class="col-twelve tabs-wrap">
            <ul class="tabs">
                <li class="active" data-id="tab-about">
                    <i class="icon-user"></i>
                    <span>About</span>
                </li>
                <li data-id="tab-contact">
                    <i class="icon-mail"></i>
                    <span>Message Me</span>
                </li>
            </ul>

            <div class="tab-container">
                <div id="tab-about" class="tab-content">

                    <div class="tab-entry">

                        <div class="row tab-entry-intro">
                            <div class="col-twelve with-bottom-line">
                                <h1>about me/candor</h1>
                                <%= partial "aboutcontent" %>
                                <%= partial "messageme" %>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-contact" class="tab-content">
                    <div class="tab-entry">
                        <div class="row tab-entry-intro">
                            <div class="col-twelve">
                                <h1>i'd love to meet you. let's talk.</h1>
                            </div>
                        </div>
                        <%= partial "contactform" %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%= partial "footer" %>
</section>