<p><strong>i'm a photographer living in the midwest.</strong> i call west michigan "home", but will travel wherever to take photos. i don't like to talk about myself, so i'll keep it short: i'm a laid-back kinda guy that loves to take photos.</p>

<p>i believe that photos should enthrall us; captivate and move us. <strong>i love the thrill of creating meaningful images.</strong></p>

<p>candor is about capturing the true version of who you are. i don't want you to hold back; whether you are feeling moody or happy, be that. be vulnerable, it's beautiful.</p>

<p>i focus on capturing what moment feels like. i don't care much for "perfect" poses; i want to capture real emotions and genuine interactions.</p>

<p><strong>let's create something true, something real.</strong></p>