<section id="home" class="home-slides">
    <div class="content-wrap-table">
        <div class="main-content-tablecell">
            <div class="row">
                <div id="sliderControls">
                    <a class="fa fa-angle-double-left sliderControl" id="sliderPrev"></a>
                    <a class="fa fa-angle-double-right sliderControl" id="sliderNext"></a>
                </div>
            </div>
        </div>
        <div class="slider-callouts">
            <a href="#portfolioGallery" class="slider-callout smoothscroll">Portfolio</a>
        </div>
    </div>
</section>