<section id="portfolioGallery">
    <div class="row tab-entry-content">

        <div id="gallery" class="block-1-3 block-s-1-2 block-tab-full">
            <% data.portfolio.gallery.each do |f| %>
                <div class="bgrid item">
                    <% link_to data.portfolio.items[f].url, :class => 'thumbLink' do %>
                        <%= image_tag data.portfolio.items[f].imagesFolderPath+data.portfolio.items[f].imagesHandle+'feature.jpg', :class => 'portofolioThumbnail' %>
                    <% end %>
                    <p><%= data.portfolio.items[f].title %></p>
                </div>
            <% end %>
        </div>
    </div>
</section>