---
title: About | Candor Photography
---
<%= partial "pageheader" %>


<section id="info">
    <div class="row">
        <div class="col-twelve tabs-wrap">
            <div id="tab-about" class="tab-content">
                <div class="tab-entry">
                    <div class="row tab-entry-intro">
                        <div class="col-twelve with-bottom-line">
                            <h1>about me/candor</h1>
                            <%= partial "aboutcontent" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= partial "footer" %>
</section>