---
title: Welcome to Middleman
---

<section id="home" class="home-slides">
    <div class="content-wrap-table">
        <div class="main-content-tablecell">
            <div class="row">
                <div id="sliderControls">
                    <a class="icon-circle-left sliderControl" id="sliderPrev"></a>
                    <a class="icon-circle-right sliderControl" id="sliderNext"></a>
                </div>
                <div id="headerLogo">
                    <a href="index.html">Candor</a>
                </div>
                <div class="scroll-icon">
                    <p class="scroll-text">Scroll Down</p>
                    <a href="#info" class="smoothscroll">
                        <div class="mouse"></div>
                    </a>
                    <div class="end-top"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= partial "portfoliogallery" %>
<%= partial "aboutcontact" %>

<div id="preloader">
	<div id="loader"></div>
</div>