---
title: Lifestyle, Portrait, and Wedding Photographer based in Michigan | Candor Photography
---
<%= partial "homeslider" %>
<%= partial "pageheader" %>
<%= partial "portfoliogallery" %>
<%= partial "aboutcontact" %>

<div id="preloader">
	<div id="loader"></div>
</div>