---
title: Welcome to Middleman
---

<section id="home" class="home-slides">
    <div class="content-wrap-table">
        <div class="main-content-tablecell">
            <div class="row">
                <div id="sliderControls">
                    <a class="icon-circle-left sliderControl" id="sliderPrev"></a>
                    <a class="icon-circle-right sliderControl" id="sliderNext"></a>
                </div>
            </div>
        </div>
        <div class="scroll-icon">
            <a href="#pageHeader" class="smoothscroll">
                <div class="mouse"></div>
            </a>
            <div class="end-top"></div>
        </div>
    </div>
</section>

<%= partial "pageheader" %>
<%= partial "portfoliogallery" %>
<%= partial "aboutcontact" %>

<div id="preloader">
	<div id="loader"></div>
</div>